.fondotema1
  background-image: url('../assets/curso/tema1/fondotext2.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo2
  background-image: url('../assets/curso/tema1/imagen2.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo3
  background-image: url('../assets/curso/tema1/fondo1.png')
  background-size: contain
  background-repeat: no-repeat
  background-position: center

.fondo4
  background-image: url('../assets/template/tema2/fondoslider.png')
  background-size: contain
  background-repeat: no-repeat
  background-position: center

.fondo5
  background-image: url('../assets/curso/tema3/fondo1.png')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondo6
  background-image: url('../assets/curso/tema3/fondo2.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center

.fondotarjeta
  background-color: #FBF8C0 !important 

.fondotarjeta2
  background-color: #F5EE6A !important 

.fondotarjetaavatar
  background-color: #f7b7693b !important 

.cajon.color-primario
  background-color: #c3e3da !important 

.slider-color-primario
  background-color: #CDEFDC !important 

.color-texto-secundario
  color: #048C66

.color-texto-negro
  color: black

.titulo-principal.color-acento-botones .titulo-principal__numero span
  color: black

.correr-izq
  margin-left: -100px

.correr-der
  margin-left: 150px

.cajon-b.color-primario:before .cajon.color-primario:before
  background-color: #3BBF74 !important

.mover
  position: absolute
  top: 1.4%
  left: 10%
  width: 376px
  height: 370px

.margenParrafo
  margin-left: 250px

.subir
  margin-top: -320px

//.cajon-b:before
//  content: ''
//  display: block
//  position: absolute
//  opacity: .35
//  top: 0
//  left: 0
//  right: 34% !important
//  bottom: 73% !important